@model empData

<h2>Add Employees</h2>
<div>
    @using (Ajax.BeginForm("AddEmployee", "Employee", "", new AjaxOptions()
    {
        UpdateTargetId = "tablebody",
        InsertionMode = InsertionMode.InsertAfter,
        HttpMethod = "POST",
        OnComplete = "EmployeeFormAdd"
    }, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.remp.Fname)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.remp.Fname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remp.Lname)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.remp.Lname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remp.BDate)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.remp.BDate, "{0:dd/MM/yyyy}")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remp.Address)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.remp.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remp.Email)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.remp.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remp.PhoneNumber)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.remp.PhoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remp.Password)
            </dt>

            <dd>
                @Html.PasswordFor(model => model.remp.Password)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remp.ConfirmPassword)
            </dt>

            <dd>
                @Html.PasswordFor(model => model.remp.ConfirmPassword)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.emp.HireDate)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.emp.HireDate,"{0:dd/MM/yyyy}")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.emp.Salary)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.emp.Salary)
            </dd>
        </dl>
        <input type="submit" class="btn btn-warning form-control" />
}
</div>

@Scripts.Render("~/bundles/jqueryval")



