@model Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1> @ViewBag.Title </h1>
    @if (Model.ChangedByBasicAdmin == true)
            {
        <h2 id="mod">Your data has been modified.</h2>
    }
    @if (Model.ApplicationUser.Photo != null)
    {
        <img src=@Model.ApplicationUser.Photo style="border-radius: 50%; width:100px; height:100px;"/>
    }
    
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Fname)
        </dt>

        <dd id = "empvfname" >
            @Html.DisplayFor(model => model.ApplicationUser.Fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Lname)
        </dt>

        <dd id = "empvlname" >
            @Html.DisplayFor(model => model.ApplicationUser.Lname )
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.BDate)
        </dt>

        <dd id = "empvBDate" >
            @Html.DisplayFor(model => Model.ApplicationUser.BDate.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Address)
        </dt>

        <dd id = "empvAddress" >
            @Html.DisplayFor(model => model.ApplicationUser.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd id = "empvEmail">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
        </dt>

        <dd id = "empvPhoneNumber">
            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
        </dd>
    </dl>

    @if (Model.ChangedByBasicAdmin == true)
    { 
        @Ajax.ActionLink("OK", "ViewProfile", "Employee", "", new AjaxOptions() {
       HttpMethod="POST",
       OnComplete = "remove(this)"
   },
    new { @class = "btn btn-success" })
       
    }
    <hr />
    <hr />
    @Ajax.ActionLink("Edit Profile", "EditProfile", "Employee", "", new AjaxOptions()
{
    UpdateTargetId = "mdbdy",
    InsertionMode = InsertionMode.Replace,
    OnComplete = "Editprofile"
},
    new { @class = "btn btn-success" }
    )

    @Ajax.ActionLink("Change Password", "ChangePassword", "Manage", "", new AjaxOptions()
{
    UpdateTargetId = "mdbdy",
    InsertionMode = InsertionMode.Replace,
    OnComplete = "ChangePassword"
},
    new { @class = "btn btn-success" }
    )
    @Html.ActionLink("Show Employees", "EmployeeForm", "Employee")
    |
    @Html.ActionLink("Show Books", "ShowBooks", "Book")
</div>

<div class="modal" id="div3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Edit Profile
            </div>
            <div class="modal-body" id="mdbdy">
            </div>
            <div class="modal-footer">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>


    <script>
        function Editprofile() {
            $("#div3").modal({ show: true });
        }
        function ChangePassword() {
            $("#div3").modal({ show: true });
        }
        
        function remove(Button) {
            $(Button).remove();
            $("#mod").remove()
        }
        function Edit() {
            $("#div3").modal('hide');
            $("#empvFname").html($("#empnFname").val());
            $("#empvLname").html($("#empnLname").val());
            $("#empvBDate").html($("#empnBDate").val());
            $("#empvAddress").html($("#empnAddress").val());
            $("#empvEmail").html($("#empnEmail").val());
            $("#empvPhoneNumber").html($("#empnPhoneNumber").val());
            $("#empvUserName").html($("#empnUserName").val());
        }
    </script>

